{% extends "board/base.html" %}

{% block content %}
	<span id="forum-title">
		<h1>{{ title }}</h1>
	</span>

	{% include 'board/forum_pagination.html' %}

	{% if forums %}
		<div id="forum-list">
			<div class="forum-header">
				<div class="col-name forum-link"><span>Forum</span></div>
				<div class="col-name forum-topic-count"><span>Topics</span></div>
				<div class="col-name forum-post-count"><span>Posts</span></div>
				<div class="col-name forum-last-post"><span>Last Post</span></div>
			</div>
			{% for forum in forums %}
				<div class="forum">
					<div class="col forum-link">
						<span>
							<a href="{{ forum.forum_id }}">{{ forum.forum_name }}</a>
						</span>
					</div>
					<div class="col forum-topic-count">
						<span>{{ forum.forum_topic_count }}</span>
					</div>
					<div class="col forum-post-count">
						<span>{{ forum.forum_post_count }}</span>
					</div>
					<div class="col forum-last-post">
						<span>
						{% if forum.forum_last_post %}
							<a href="/board/topic/{{ forum.forum_last_post.post_topic.topic_id }}">
								{{ forum.forum_last_post.post_topic.topic_name|slice:":25" }}
							</a>
							<br>
							{{ forum.forum_last_post.post_created_date }}
							<br>
							<a href="/users/{{ forum.forum_last_post.post_creator.username }}" class="{% if forum.forum_last_post.post_creator.is_staff %}staff{% else %}user{% endif %}">
								{{ forum.forum_last_post.post_creator.username }}
							</a>
						{% else %}
							This forum is empty!
						{% endif %}
						</span>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if is_staff %}
		<div class="form-wrapper">
			<h3>Add a forum</h3>
			<form action="" method="post">
				{% csrf_token %}
				<input placeholder="Forum name" type="text" name="forum-name">
				<input type="submit" value="Submit">
			</form>
			{{ msg }}
		</div>
	{% endif %}

	<br>
	{% if topics %}
		<div id="topic-list">
			<div class="topic-header">
				<div class="col-name topic-link"><span>Topic Name</span></div>
				<div class="col-name topic-reply-count"><span>Replies</span></div>
				<div class="col-name topic-creator"><span>Author</span></div>
				<div class="col-name topic-view-count"><span>Views</span></div>
				<div class="col-name topic-last-post"><span>Last Post</span></div>
			</div>
			{% for topic in topics %}
				<div class="{% if topic.topic_pinned %}pinned {% endif %}topic">
					<div class="col topic-link">
						<span class="topic-name">
							<a href="/board/topic/{{ topic.topic_id }}">{{ topic.topic_name }}</a>
						</span>
						{% if topic.topic_reply_count >= 10 %}
							{% include "board/forum_topic_pagination.html" %}
						{% endif %}
					</div>
					<div class="col topic-reply-count">
						<span>{{ topic.topic_reply_count }}</span>
					</div>
					<div class="col topic-creator">
						<span>
							<a href="/users/profile/{{ topic.topic_creator.username }}" class="{% if topic.topic_creator.is_staff %}staff{% else %}user{% endif %}">
								{{ topic.topic_creator }}
							</a>
						</span>
					</div>
					<div class="col topic-view-count">
						<span>{{ topic.topic_view_count }}</span>
					</div>
					<div class="col topic-last-post">
						<span>
							{{ topic.topic_last_post.post_created_date }}
							<br>
							<a href="/users/profile/{{ topic.topic_last_post.post_creator.username }}" class="{% if topic.topic_last_post.post_creator.is_staff %}staff{% else %}user{% endif %}">{{ topic.topic_last_post.post_creator.username }}</a>
						</span>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% include 'board/forum_pagination.html' %}
	<div class="pagination-pad"></div>

	{% if is_logged_in %}
		<div class="form-wrapper">
			<h3>Add a topic</h3>
			<form action="" method="post">
				{% csrf_token %}
				<input placeholder="Topic name" type="text" name="topic-name">
				<br>
				<textarea placeholder="Type something" name="post-content"></textarea>
				<br>
				<input type="submit" value="Submit">
			</form>
		</div>
	{% endif %}

{% endblock content %}