{% load board_extras %}
<span class="pagination-small">
	<span>[ Page: </span>
	{% for topic_page in topic.topic_reply_count|divide:'10'|add:'1'|range %}
		{% if topic.topic_reply_count|divide:'10' >= 4 and topic_page > topic.topic_reply_count|divide:'10'|add:'-3' or topic.topic_reply_count|divide:'10' >= 4 and topic_page == 0 %}
			<span><a href="/board/topic/{{ topic.topic_id }}/{{ topic_page|add:'1' }}">{{ topic_page|add:'1' }}{% if topic_page < topic.topic_reply_count|divide:'10' and topic_page != 0%},{% endif %}</a></span>
		{% elif topic.topic_reply_count|divide:'10' < 4 %}
			<span><a href="/board/topic/{{ topic.topic_id }}/{{ topic_page|add:'1' }}">{{ topic_page|add:'1' }}{% if topic_page < topic.topic_reply_count|divide:'10' %},{% endif %}</a></span>
		{% elif topic_page == 1 %}
			<span>...</span>
		{% endif %}
	{% endfor %}
	<span> ]</span>
</span>