<header>
	<div>
		<span id="header-title">Message Board</span>
		<span id="header-login">
			{% if is_logged_in %}
				<a href="/users/profile/{{ current_user.username }}">{{ current_user.username }}</a>
				<a href="/users/logout">Logout</a>
			{% else %}
				<a href="/users/login/?next={{ path }}">Log in</a>
			{% endif %}
		</span>
	</div>
	<div id="nav-bar">
		<a href="/board/">
			<span class="nav nav-forum">
				Board Index
			</span>
		</a>
		{% for temp in forum_path %}
			<a href="/board/{{ temp.forum_id }}">
				<span class="nav nav-forum">
					{{ temp.forum_name}}
				</span>
			</a>
		{% endfor %}
		{% if current_topic %}
			<a href="/board/topic/{{ current_topic.topic_id }}">
				<span class="nav nav-topic">
					{{ current_topic.topic_name|slice:":25" }}
				</span>
			</a>
		{% endif %}
	</div>
</header>