{% extends ajax|yesno:"board/blank.html,board/base.html" %}
{% block content %}
<div id="{{ post.post_id }}" class="post">
	<div class="post-head">
		<span>
		</span>
		<span class="post-user-info">
			<a href="/users/{{ post.post_creator.username }}"{% if post.post_creator.is_staff %} class="staff"{% endif %}>
				{{ post.post_creator }}
			</a>
			<br>
			<span class="post-user-dates">
				Joined: {{ post.post_creator.date_joined }}
				<br>
				Last Online: {{ post.post_creator.last_login }}
			</span>
		</span>
	</div>
	<div class="post-content">
		<div class="post-text">{{ post.post_content }}</div>
		<br>
		<div class="post-footer">
			<span>{{ post.post_created_date }}</span>
			{% if post.post_edited_date %}
				<span>Last edited: {{ post.post_edited_date }}</span>
			{% endif %}
			{% if is_logged_in and current_user and post.post_creator.username == current_user.username %}
				<br>
				<a class="post-edit" href="#edit">edit post</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}