body {
	padding: 0;
	margin: 0 0 10px 0;
	font-family: Verdana, Helvetica, sans-serif;
	background: #eceadf;
}

header {
	width: 100%;
	padding: 5px 0px 0px 0px;
	background: #ccc;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #4c4c4c;
}

a:hover {
	color: #7c7c7c;
}

a.staff {
	color: #ff8300;
}

a.staff:hover {
	color: #ffa300;
}

a.user {
	color: #000;
}

a.user:hover {
	color: #333;
}

#main-content {
	max-width: 100%;
	min-width: 600px;
	margin: 0px 10px 0px 10px;
}

h1, h3 {
	display: inline-block;
	margin: 0;
}

.form-wrapper {
	margin: 10px 0 0 0;
	padding: 5px 10px 3px 10px;
	background: #cdcdcd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-wrapper input {
	height: 24px;
}

.form-wrapper input[type="text"],
.form-wrapper textarea {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 5px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #999;
}

.form-wrapper textarea {
	resize: none;
	width: 100%;
	height: 100px;
	font-family: Arial;
}

.form-wrapper input[type="text"]:hover,
.form-wrapper textarea:hover,
.form-wrapper input[type="text"]:focus,
.form-wrapper textarea:focus {
	box-shadow: 0 0 5px #5ce;
	border: 1px solid #5ce;
}

.form-wrapper input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	outline: none;
	border: 1px solid #999;
	background: #eee;
	margin-left: 0;
}

.form-wrapper input[type="submit"]:hover,
.form-wrapper input[type="submit"]:focus {
	box-shadow: 0 0 5px #5ce;
	border: 1px solid #5ce;
}
















/*		Forum styles		*/

#forum-title h1 {
	color: #767064;
	margin-top: 15px;
	margin-bottom: 15px;
}

#topic-list,
#forum-list {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.topic,
.forum {
	display: table-row;
	width: 100%;
	font-size: 0;
}

.topic-header,
.forum-header {
	display: table-row;
	width: 100%;
	font-size: 0;
	border: solid #888 1px;
}

.col {
	display: inline-block;
	vertical-align: middle;
	font-size: 12;
}

.col-name {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 14;
	font-weight: bold;
}

.topic-header > div,
.forum-header > div {
	display: table-cell;
	background: #777;
	color: #cdcdcd;
	border: 0;
}

/*
.topic-header > div:first-child,
.forum-header > div:first-child {
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
}

.topic-header > div:last-child,
.forum-header > div:last-child {
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
}
*/

.topic > div,
.forum > div {
	display: table-cell;
	height: 41px;
	background: #ccc;
	border-right: solid #bbb 1px;
	border-bottom: solid #bbb 1px;
}

.topic:hover > div,
.forum:hover > div {
	background: #ddd;
}

.col > span {
	display: block;
	position: relative;
}

.topic-link {
	width: 50%;
	padding-left: 10px;
}

.forum-link {
	width: 60%;
	padding-left: 10px;
}

.topic-reply-count,
.topic-creator,
.topic-view-count,
.forum-topic-count,
.forum-post-count {
	width: 10%;
	height: 100%;
	text-align: center;
}

.topic-last-post,
.forum-last-post {
	width: 20%;
	height: 100%;
	text-align: center;
}

.col.topic-last-post,
.col.forum-last-post {
	font-size: 10;
}

.pinned > .topic-link > .topic-name:before {
	content: 'PINNED: ';
	font-weight: bold;
}











/*		Topic styles		*/

#topic-title h3 {
	margin-top: 15px;
}

#topic-subtitle {
	font-size: 10px;
}

.post {
	width: 100%;
	display: block;
	margin-top: 15px;
	font-size: 12px;
}

.post-head {
	background: #777;
	color: #cdcdcd;
	padding: 10px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.post-user-dates {
	font-size: 10px;
}

.post-content {
	background: #ccc;
	padding: 5px;
}

.post-footer {
	font-size: 10px;
}










/*		Header styles		*/

#header-title {
	margin-left: 15px;
	font-size: 24px;
	color: #616161;
}

#header-login {
	float: right;
	margin-right: 10px;
}

#nav-bar {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	font-size: 0;
	background: #eee;
	border-bottom: solid #ddd 3px;
}

#nav-bar > a {
	display: inline-block;
}

.nav {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	background: #eee;
	padding: 0 5px 0 5px;
	font-size: 12px;
	font-weight: bold;
}

.nav-forum {
	border-right: solid #aaa 1px;
}





















/*		Pagination styles		*/

.pagination {
	display: inline-block;
	position: relative;
	margin-top: 20px;
	float: right;
	font-size: 0;
	height: 15px;
}

.pagination-page {
	margin-left: -1px;
	display: inline-block;
	border: solid #aaa 1px;
	font-size: 12px;
	height: 100%;
	padding: 5px;
	background: #ddd;
	font-weight: bold;
	text-decoration: none;
	color: #4c4c4c;
}

.pagination a:hover span {
	background: #ccc;
}

.pagination-page.disabled {
	color: #a3a3a3;
}

.pagination-first, .pagination-first a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.pagination-last, .pagination-last a {
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;

	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.pagination-pad {
	height: 50px;
}

.pagination-small {
	font-size: 10px;
}

.pagination-small-page {

}