{% extends "users/base.html" %}

{% block content %}
	<div>
		<div>Username: {{ user.username }}</div>
		<div>Email: {{ user.email }}</div>
		{% if logged_in %}
			<div>
				<form method="post" action="">
					{% csrf_token %}
					<textarea name="content"></textarea>
					<input type="submit">
					<input type="hidden" name="user_to" value="{{ user.username }}">
					<input type="hidden" name="user_from" value="{{ current_user.username }}">
				</form>
			</div>
		{% endif %}
		<hr>
		{% for message in user_messages %}
			<div>
				<div>{{ message.user_from.username }} at {{ message.date }}</div>
				<div>{{ message.content }}</div>
			</div>
			<br>
		{% endfor %}
	</div>
{% endblock content %}