{% load static %}
<head>
	<script src="{% static "js/jquery-2.0.0.min.js" %}" ></script>
	<script src="{% static "js/ajax.js" %}" ></script>
</head>


<h2>Language is: {{language}}</h2>
<h2>Session Language is: {{session_language}}</h2>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />
<ul id="search-results">
	
</ul> 
<img src="{% get_static_prefix %}go.png " alt="My image"/>


{% if articles.count > 0 %}

{% for article in articles %}
	<div>
	<h2><a href="/t/{{ article.id }}/">{{ article.title }}</a></h2>
	<p>{{ article.body|lower|truncatewords:"10" }}</p>
	<p>{{article.likes}} people liked this article</a></p>
	</div>
{% endfor %}

{% else %}

<p>None to show!</p>

{% endif %}
