{% extends "base.html" %}

{% block title %}Group{% endblock %}
{% block content %}

<h1>{{ article.title }}</h1>
<p>{{ article.creater }}</p>
<p>{{ article.body }}</p>
<p>{{ article.pub_date }}</p>
{% if article.thumbnail %}
<p><img src="{{MEDIA_URL}}{{article.thumbnail}}" width="200"/></p>
{% endif %}
<p>{{article.likes}} people liked this article</a></p>
<p><a href="/t/like/{{article.id}}">Like</a></p>

{% for c in article.comment_set.all reversed %}
<p>{{c.pub_date|date:"Md G:i"}} <a href="/account/profile/">{{c.creater}}</a>: {{c.body}} 
{% if c.thumbnail %}
<p><img src="{{MEDIA_URL}}{{c.thumbnail}}" width="200"/></p>
{% endif %}
<a href="/t/delete_comment/{{c.id}}">Delete</a>
</p>
{% endfor %}

<p><a href="/t/add_comment/{{article.id}}">Add Comment</a></p>


{% endblock %}