{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{% block title %}Base Template{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.css" >
    <link rel="stylesheet" href="{% get_static_prefix %}css/main.css" >
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    {% block css %}
    {% endblock %}
</head>
<body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/#"><b>Ncommu</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/#desc" class="smothscroll">Description</a></li>
	            <li><a href="/#contact" class="smothScroll">Contact</a></li>
	            <li><a href="/t/all">Explore</a></li>
				<li><a href="/account/login">Sign in</a></li>
				<li class="active"><a href="/account/register">Sign up</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>

    <div id="content">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% block content %}This is the content area{% endblock %}
	</div>

	<div id="scripts">
		<script src="{% get_static_prefix %}js/jquery-2.1.1.min.js" ></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% get_static_prefix %}js/smoothscroll.js"></script>
		<script src="{% get_static_prefix %}js/bootstrap.js" ></script>
		<script>
		$('.carousel').carousel({
	  		interval: 3500
		})
		</script>
	</div>	
</body>
</html>
